@tailwind base;
@tailwind components;
@tailwind utilities;
::selection{
    background-color: #f27430;
}
html{
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: "Vazirmatn", sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: inherit;
    direction: rtl;
    font-family: "Vazirmatn", sans-serif;
    background-color: #c6b9b96b;
    opacity: 1;
    background-image: linear-gradient(rgba(239, 187, 118, 0.2) 1.6px, transparent 1.6px),
        linear-gradient(to right, rgba(239, 187, 118, 0.2) 1.6px, #fbf1f1 1.6px);
    background-size: 72px 72px;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.nav {
    position: sticky;
}

.pinglug,
.nav {
    z-index: 999;
    border: rgba(239, 187, 118, 0.5) solid 2px;
}
@media (min-width: 1536px) {
    .pinglug {
        /* -webkit-box-shadow: -20px 6px 77px 0px rgba(118, 239, 221, 0.5);
        -moz-box-shadow: -20px 6px 77px 0px rgba(118, 239, 221, 0.5);
        box-shadow: -20px 6px 77px 0px rgba(118, 239, 221, 0.5); */

        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;

    }
}
.logotype{
    font-weight: 900;
}
.logotype-sm{
    display: none;
    visibility: hidden;
    font-weight: 900;
}
@media(max-width:500px){
    .logotype{
        display: none;
        visibility: hidden;
    }
    .logotype-sm{
        display: block;
        visibility: visible;
    }
    .pinglug img{
        height: auto!important;
    }
}
.fade-in {
    content: "";
    position: absolute;
    top: 0;
    width: 20%; /* Adjust as needed */
    height: 100%; /* Or adjust to match the height of the container */
}
.fade-in.left {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.729), rgba(255, 255, 255, 0.729), transparent 100%);
}
.fade-in.right {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.729), rgba(255, 255, 255, 0.729), transparent 100%);
}

.insta-gran{
    background: #833ab4;
  background: linear-gradient(
    to right,
    #9037cb,#ff3434,#f27430
  );
  opacity: 1;
}
.insta-gran:hover{
    background: linear-gradient(
        to right,
        #9037cb,#ff3434,#f27430
      );
      opacity: .9;

}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    user-select: none;
  }
  .swiper-wrapper{
    transform: translate3d(0px, 0, 0)!important;
  }
  .swiper-3d .swiper-wrapper{
    align-items: center!important;
    padding: 10px;
  }

  .slide img {
    display: block;
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    min-height: 424px;
    max-height: 424px;
    height: 100%;
    border-radius: .5rem;
    /* -webkit-box-shadow: 0px 200px 161px -153px rgba(0,0,0,0.46);
-moz-box-shadow: 0px 200px 161px -153px rgba(0,0,0,0.46);
box-shadow: 0px 200px 161px -153px rgba(0,0,0,0.46); */
  }
.btn{
    @apply rounded-lg;
    @apply bg-blue-50;
    @apply shadow-sm;
    @apply shadow-blue-200;
    @apply hover:bg-blue-200;
    @apply text-gray-950;
    @apply cursor-pointer;
    @apply select-none;
    @apply p-3;
    @apply font-bold;
    @apply text-[1rem];
}
.btn.logout{
    @apply rounded-lg;
    @apply bg-rose-50;
    @apply shadow-sm;
    @apply shadow-rose-200;
    @apply hover:bg-rose-200;
    @apply text-gray-950;
    @apply cursor-pointer;
    @apply select-none;
    @apply p-3;
    @apply font-bold;
    @apply text-[1rem];
}
