@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    direction: rtl;
    font-family: "Vazirmatn", sans-serif;
    background-color: #f8f8f9;
    opacity: 1;
    background-image: linear-gradient(#ffffff63 1.6px, transparent 1.6px),
        linear-gradient(to right, #ffffff62 1.6px, #f1f1fb71 1.6px);
    background-size: 72px 72px;
}
.nav {
    position: sticky;
}
.pinglug {
    -webkit-box-shadow: -20px 6px 77px 0px rgba(225 ,29 ,72, 0.5);
    -moz-box-shadow: -20px 6px 77px 0px rgba(225,29 ,72 ,0.5);
    box-shadow: -20px 6px 77px 0px rgba(225, 29, 72, 0.5);
}
.pinglug,
.nav {
    z-index: 999;
}
@media (max-width: 930px) {
    .pinglug {
        width: 100%;
        border-radius: 0px;
    }
}
.fade-in {
    content: "";
    position: absolute;
    top: 0;
    width: 20%; /* Adjust as needed */
    height: 100%; /* Or adjust to match the height of the container */
}
.fade-in.left {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.729), rgba(255, 255, 255, 0.729), transparent 100%);
}
.fade-in.right {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.729), rgba(255, 255, 255, 0.729), transparent 100%);
}

.insta-gran{
    background: #833ab4;
  background: linear-gradient(
    to right,
    #9037cb,#ff3434,#f27430
  );
  opacity: 1;
}
.insta-gran:hover{
    background: linear-gradient(
        to right,
        #9037cb,#ff3434,#f27430
      );
      opacity: .9;

}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    user-select: none;
  }
  .swiper-3d{

  }
  .swiper-3d .swiper-wrapper{
    align-items: center!important;
    padding: 10px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    min-width: 320px;
    height: 424px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    min-width: 320px;
    min-height: 424px;

    height: 100%;
    border-radius: .5rem;
    -webkit-box-shadow: 0px 200px 161px -153px rgba(0,0,0,0.46);
-moz-box-shadow: 0px 200px 161px -153px rgba(0,0,0,0.46);
box-shadow: 0px 200px 161px -153px rgba(0,0,0,0.46);
  }
.btn{
    @apply rounded-lg;
    @apply bg-blue-50;
    @apply shadow-sm;
    @apply shadow-blue-200;
    @apply hover:bg-blue-200;
    @apply text-gray-950;
    @apply cursor-pointer;
    @apply select-none;
    @apply p-3;
    @apply font-bold;
    @apply text-[1rem];
}
.btn.logout{
    @apply rounded-lg;
    @apply bg-rose-50;
    @apply shadow-sm;
    @apply shadow-rose-200;
    @apply hover:bg-rose-200;
    @apply text-gray-950;
    @apply cursor-pointer;
    @apply select-none;
    @apply p-3;
    @apply font-bold;
    @apply text-[1rem];
}
