@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    direction: rtl;
    font-family: "Vazirmatn", sans-serif;
    background-color: #f7f7f7;
    opacity: 1;
    background-image: linear-gradient(#ffffff63 1.6px, transparent 1.6px),
        linear-gradient(to right, #ffffff62 1.6px, #e5e5f771 1.6px);
    background-size: 72px 72px;
}
.nav{
    position: sticky;
}
.pinglug,.nav{
    z-index: 999;
}
@media (max-width: 930px) {
    .pinglug {
        width: 100%;
        border-radius: 0px;
    }
}
.fade-in{
    content: "";
    position: absolute;
    top: 0;
    width: 20%; /* Adjust as needed */
    height: 100%; /* Or adjust to match the height of the container */

    ;
}
.fade-in.left{
    left: 0;
    background: linear-gradient(to right, white 0%, white 20%, transparent 100%);
}
.fade-in.right{
    right: 0;
    background: linear-gradient(to left, white 0%, white 20%, transparent 100%);
}
